body {
    padding: 0;
    margin: 0;
}

.container {
    margin-left: 40;
    margin-right: 40;
}

.header {
    margin-top: 40;
    margin-bottom: 40;
    text-align: center;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 50;
}

.accordion {
    background-color: #E0E0E0;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #BDBDBD;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-style: solid;
    border-width: thin;
    border-color: #9E9E9E;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 1px;
}
